body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 20px;
}

nav {
  background-color: #34495e;
  padding: 20px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.btn:hover {
  background-color: #1c5980;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  img {
    width: 100%;
    max-width: 300px;
  }

  .top-button {
    font-size: 14px;
    padding: 8px 12px;
	background-color: #04AA6D;
    
  }
}


footer {
  font-family: Arial, sans-serif;
  background-color: 	#808080;
  color: #0000FF;
  margin: 0;
  padding: 5px;
}


